{% extends 'layout.html' %}

{% block content %}
    <div class="timeline">
        <div class="followings half">
            <h2>팔로잉 목록</h2>
            {% if user.Followings %}
                {% for following in user.Followings %}
                    <div>
                        {{following.nick}}
                        <input type="hidden" value="{{following.id}}" class="following-id">
                        <button class="twit-unfollow">팔로잉 취소</button>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="followers half">
            <h2>팔로워 목록</h2>
            {% if user.Followers %}
                {% for follower in user.Followers %}
                    <div>{{follower.nick}}</div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        document.querySelectorAll('.twit-unfollow').forEach((tag) => {
            tag.addEventListener('click', () => {
                const userId = tag.parentNode.querySelector('.following-id').value;
                if(confirm('팔로잉을 취소하겠습니까?')){
                    axios.delete(`/user/${userId}/unfollow`)
                        .then(() => {
                            location.reload();
                        })
                        .catch((err) => {
                            console.error(err);
                        });
                }
            });
        });
    </script>
{% endblock %}